<div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(20,24,22,1) 92%), url(https://images.unsplash.com/photo-1541703834306-d9710dde1287?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2690&q=80);">
  <div class="container">
    <h1>Your royal experience</h1>
    <p>Rent a castle anywhere in the world</p>

    

    <%= render 'shared/search' %>

  </div>
</div>

<div class="d-flex flex-column map-container">
  <div class="text-center mb-3">
    <h1>Our global offering</h1>
  </div>
  <div class="container" id="map"
  style="width: 100%; height: 600px; border-radius: 15px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>

<div class="container">
  <div class="explore my-5">
    <h1>Not sure where to go yet?</h1>
    <h2>Explore our options</h2>
  </div>
  <div class="cards">
    <% counter = 0 %>
    <% @castles.each do |castle| %>
    <div class="card-trip">
      <% counter += 1 %>
      <%= image_tag "https://source.unsplash.com/1600x900/?castle?#{counter}", class: "card-trip" %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to castle.name, castle_path(castle) %></h2>
          <p><%= castle.city %></p>
        </div>
        <h2 class="card-trip-pricing"><%= "$#{castle.price_per_day}" %></h2>
      </div>
    </div>
    <% end %>
  </div>
</div>
