<h1> My Castles </h1>

<h2><%= @castle.name %></h2>
<h2><%= @castle.country %></h2> 
<h2><%= @castle.city %></h2>
<h2><%= @castle.address %></h2>
<h2><%= @castle.city %></h2>
<h2><%= @castle.description %></h2>
<h2><%= @castle.price_per_day %></h2>

<%= link_to "Back to all castles", root_path %>
